block header
    include ../components/button.pug

    header.header(class=headerClass)
        .header__content
            a.header__logo(href='/')
                img.header__logo-img(src='img/logo.png')
            if page != 'integration'
                ul.header__links
                    li
                        a.header__link(href='#spend') Где потратить?
                    li
                        a.header__link(href='#get') Как получить?
                    li
                        a.header__link(href='#questions') Вопросы и ответы
                .header__login
                    +button({text: 'Войти', theme: 'secondary', className: 'js-auth-button'})
