block header
    include ../components/button.pug

    - var spendLink = page === 'index' ? '#spend' : '#spend'
    - var getLink = page === 'index' ? '#get' : '#get'
    - var questionLink = page === 'index' ? '#questions' : '#questions'

    header.header(class=headerClass)
        .header__content
            a.header__logo(href='/')
                img.header__logo-img(src='img/logo.png')
            if page != 'integration'
                ul.header__links
                    li
                        a.header__link(href=spendLink) Где потратить?
                    li
                        a.header__link(href=getLink) Как получить?
                    li
                        a.header__link(href=questionLink) Вопросы и ответы
                .header__login
                    +button({text: 'Войти', theme: 'secondary', className: 'js-auth-button'})
