block footer

    footer.popup-footer
        .popup-footer__content
            .popup-footer__copyright © 2025, Все права защищены
            ul.popup-footer__links
                li.popup-footer__links-element
                    a.popup-footer__link(href="/") Пользовательское соглашение
                li.popup-footer__links-element
                    a.popup-footer__link(href="agreement.html") Остались вопросы? Свяжитесь с нами