@use '../vars.scss';

.promo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1440 / 372;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.card-low-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}
