doctype html
html
    block variables
    head
        meta(content="text/html; charset=utf-8", http-equiv="Content-Type")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=1")
        meta(content="", name="Description")
        meta(content="", name="Keywords")
        meta(content="index,follow", name="robots")
        title Beautycoin
        link(rel="stylesheet" href="libs/splide-core.min.css")
        link(rel="stylesheet" href="css/index.css")
    body
        if page !== 'popup'
            block header
                include includes/header.pug

        block content

        if page !== 'popup'
            block footer
                include includes/footer.pug

        if page === 'popup'
            block footer
                include includes/popup-footer.pug

    script(src='libs/splide.min.js')
    script(src="js/index.js")
