extends ../layout.pug

block content
    include ../components/button.pug

    main.main.gradient
        section.agreement
            .agreement__title-wrapper
                h1.agreement__title Лицензионный договор оферта
            .agreement__content
                p ООО «Салон онлайн», именуемое в дальнейшем «Лицензиар», в лице генерального Борисовой С.А., действующего на основании Устава, публикует настоящий Лицензионный договор-оферту (далее — «Договор»), являющийся публичной офертой. В соответствии со статьей 438 Гражданского Кодекса Российской Федерации, безусловным принятием (акцептом) условий настоящего Договора считается оплата вознаграждения Лицензиатом. Лицензиар предлагает заключить договор о передаче прав простой (неисключительной) лицензии на использование программы для ЭВМ «Салон онлайн» любому юридическому и физическому лицу, именуемому в дальнейшем «Лицензиат» на условиях настоящего Договора.
            .agreement__content
                h2.agreement__content-title 1. Термины и определения
                ol.number-1
                    li Программа — Программа для ЭВМ «Салон онлайн» как в целом, так и ее компоненты, являющаяся представленной в объективной форме совокупностью данных и команд, в том числе исходного текста, базы данных, аудиовизуальных произведений, включенных Лицензиаром в состав Программы, а также любая документация по ее использованию. Исключительные права на Программу принадлежат Лицензиару на основании Свидетельства о государственной регистрации программы для ЭВМ № 2 014 660 964, выданного Федеральной службой по интеллектуальной собственности, дата государственной регистрации в Реестре программ для ЭВМ 20 октября 2014 года.
                    li Салон красоты — любое торгово-сервисное предприятие Лицензиата, оказывающее услуги в сфере медицины, здоровья и/или красоты: парикмахерская, барбершоп, спа-салон, стоматология, нейл-студия и т. д.
                    li Учетная запись — хранимая в Программе совокупность данных, настроек и параметров, необходимых для аутентификации, идентификации и авторизации Лицензиата в Программе и предоставления Лицензиату уровня доступа к ресурсам Программы в соответствии с выбранным Типом лицензии.
                    li Тип лицензии — предоставленный Лицензиату уровень доступа к функционалу Программы, определенный Договором. Перечень Типов лицензий, действующих на дату заключения Договора, установлен Приложением № 1 к Договору.