extends ../layout.pug

block variables
    - var page = 'index'

block content
    include ../components/card.pug
    include ../components/card-low.pug
    include ../icons/icon-plus.pug
    include ../icons/icon-minus.pug

    main.main
        section.promo
            h1.title1 Программа лояльности среди поставщиков для салонов красоты
        section.section.section_start(id='spend')
            h2.title2 Где потратить?
            .slider.splide
                .splide__track
                    ul.card-list.splide__list
                        +card({text: 'Программа для салона красоты с онлайн-записью', title: 'SONLINE', img: 'img/img-sonline.jpg', icon: 'img/icon-sonline.png', className: 'splide__slide'})
                        +card({text: 'сервис отправки сообщений в WhatsApp', title: 'Wazapa', img: 'img/img-wazapa.jpg', icon: 'img/icon-wazapa.png', className: 'splide__slide'})
                        +card({text: 'Ежемесячная статистика рынка салонов красоты', title: 'Trendista Global', img: 'img/img-trendista.jpg', icon: 'img/icon-trendista.png', className: 'splide__slide'})
                        +card({text: 'Услуги салона красоты по ваше цене', title: 'YokYok', img: 'img/img-yok.jpg', icon: 'img/icon-yok.png', className: 'splide__slide'})
                        +card({text: 'Омниканальная система коммуникации', title: 'Uis', img: 'img/img-uis.jpg', icon: 'img/icon-uis.png', className: 'splide__slide'})
                        +card({text: 'Оборудование и ПО для автоматизации торговли', title: 'АТОЛ', img: 'img/img-atol.jpg', icon: 'img/icon-atol.png', className: 'splide__slide'})
                        +card({text: 'Эффективная реклама в интернет', title: 'Яндекс Директ', img: 'img/img-ya.jpg', icon: 'img/icon-ya.png', className: 'splide__slide'})
                        +card({text: 'Полный спектр банковских услуг', title: 'Альфа-банк', img: 'img/img-alfa.jpg', icon: 'img/icon-alfa.png', className: 'splide__slide'})
                        +card({text: 'Сервис электронных чаевых', title: 'НЕТМОНЕТ', img: 'img/img-hm.jpg', icon: 'img/icon-hm.png', className: 'splide__slide'})
                        +card({text: 'Профессиональные средства для волос', title: 'OLLIN Professional', img: 'img/img-ollin.jpg', icon: 'img/icon-ollin.png', className: 'splide__slide'})
                        +card({text: 'Профессиональная салонная косметикаи для волос', title: 'L\'Oréal', img: 'img/img-loreal.jpg', icon: 'img/icon-loreal.png', className: 'splide__slide'})
                        +card({text: 'Профессиональные краски для волос', title: 'Kydra', img: 'img/img-kydra.jpg', icon: 'img/icon-kydra.png', className: 'splide__slide'})
        section.section.section_center(id='get')
            h2.title2 Как получить?
            .slider.splide
                .splide__track
                    ul.card-low-list.splide__list
                        +card-low({text: 'Профессиональные краски для волос', title: 'Kydra', discount: 'до 5%', icon: 'img/icon-kydra.png', className: 'splide__slide'})
                        +card-low({text: 'Профессиональная салонная косметикаи для волос', title: 'L\'Oréal', discount: 'до 10%', icon: 'img/icon-loreal.png', className: 'splide__slide'})
                        +card-low({text: 'Профессиональные средства для волос', title: 'OLLIN Professional', discount: 'до 7%', icon: 'img/icon-ollin.png', className: 'splide__slide'})
                        +card-low({text: 'Сервис электронных чаевых', title: 'НЕТМОНЕТ', discount: '10%', icon: 'img/icon-hm.png', className: 'splide__slide'})
                        +card-low({text: 'Полный спектр банковских услуг', title: 'Альфа-банк', discount: '5%', icon: 'img/icon-alfa.png', className: 'splide__slide'})
                        +card-low({text: 'Эффективная реклама в интернет', title: 'Яндекс Директ', discount: 'до 10%', icon: 'img/icon-ya.png', className: 'splide__slide'})
                        +card-low({text: 'Оборудование и ПО для автоматизации торговли', title: 'АТОЛ', discount: 'до 10%', icon: 'img/icon-atol.png', className: 'splide__slide'})
                        +card-low({text: 'Омниканальная система коммуникации', title: 'Uis', discount: 'до 10%', icon: 'img/icon-uis.png', className: 'splide__slide'})
                        +card-low({text: 'Услуги салона красоты по ваше цене', title: 'YokYok', discount: 'до 15%', icon: 'img/icon-yok.png', className: 'splide__slide'})
                        +card-low({text: 'Ежемесячная статистика рынка салонов красоты', title: 'Trendista Global', discount: '20%', icon: 'img/icon-trendista.png', className: 'splide__slide'})
                        +card-low({text: 'сервис отправки сообщений в WhatsApp', title: 'Wazapa', discount: '15%', icon: 'img/icon-wazapa.png', className: 'splide__slide'})
                        +card-low({text: 'Программа для салона красоты с онлайн-записью', title: 'SONLINE', discount: '10%', icon: 'img/icon-sonline.png', className: 'splide__slide'})
        section.section.section_end(id='questions')
            h2.title2 Вопросы и ответы
            .accordion.js-accordion
                .accordion__item
                    .accordion__header.js-accordion-header
                        span.accordion__header-text
                            span.accordion__item-number 1. Спроси меня о чем-нибудь...
                        .accordion__header-icon-wrapper
                            +icon-plus('accordion__icon accordion__icon_plus')
                            +icon-minus('accordion__icon accordion__icon_minus')
                    .accordion__body
                        .accordion__content Ответ не так уж однозначен
                            ul
                                li Спроси меня о чём-нибудь,
                                li Задай вопрос один и вскользь.
                                li Не дай подумать раз и вслух,
                                li Не умоляй про тайный путь.
                .accordion__item
                    .accordion__header.js-accordion-header
                        span.accordion__header-text
                            span.accordion__item-number 1. Спроси меня о чем-нибудь...
                        .accordion__header-icon-wrapper
                            +icon-plus('accordion__icon accordion__icon_plus')
                            +icon-minus('accordion__icon accordion__icon_minus')
                    .accordion__body
                        .accordion__content Ответ не так уж однозначен
                            ul
                                li Спроси меня о чём-нибудь,
                                li Задай вопрос один и вскользь.
                                li Не дай подумать раз и вслух,
                                li Не умоляй про тайный путь.
                .accordion__item
                    .accordion__header.js-accordion-header
                        span.accordion__header-text
                            span.accordion__item-number 1. Спроси меня о чем-нибудь...
                        .accordion__header-icon-wrapper
                            +icon-plus('accordion__icon accordion__icon_plus')
                            +icon-minus('accordion__icon accordion__icon_minus')
                    .accordion__body
                        .accordion__content Ответ не так уж однозначен
                            ul
                                li Спроси меня о чём-нибудь,
                                li Задай вопрос один и вскользь.
                                li Не дай подумать раз и вслух,
                                li Не умоляй про тайный путь.
                .accordion__item
                    .accordion__header.js-accordion-header
                        span.accordion__header-text
                            span.accordion__item-number 1. Спроси меня о чем-нибудь...
                        .accordion__header-icon-wrapper
                            +icon-plus('accordion__icon accordion__icon_plus')
                            +icon-minus('accordion__icon accordion__icon_minus')
                    .accordion__body
                        .accordion__content Ответ не так уж однозначен
                            ul
                                li Спроси меня о чём-нибудь,
                                li Задай вопрос один и вскользь.
                                li Не дай подумать раз и вслух,
                                li Не умоляй про тайный путь.
                .accordion__item
                    .accordion__header.js-accordion-header
                        span.accordion__header-text
                            span.accordion__item-number 1. Спроси меня о чем-нибудь...
                        .accordion__header-icon-wrapper
                            +icon-plus('accordion__icon accordion__icon_plus')
                            +icon-minus('accordion__icon accordion__icon_minus')
                    .accordion__body
                        .accordion__content Ответ не так уж однозначен
                            ul
                                li Спроси меня о чём-нибудь,
                                li Задай вопрос один и вскользь.
                                li Не дай подумать раз и вслух,
                                li Не умоляй про тайный путь.