@use 'reset';
@use 'fonts';
@use 'vars';

@use './components/header.scss';
@use './components/footer.scss';
@use './components/accordion.scss';
@use './components/button.scss';
@use './components/text-input.scss';

@use './pages/index.scss';

* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 400;
    font-family: vars.$main-font;
    color: vars.$text-primary;
    background-color: vars.$background-primary;

    @include vars.mobile {
        font-size: 16px;
        line-height: 24px;
    }
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 80px auto 0;

    @include vars.mobile {
        margin-top: 80px;
    }
}

.section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 1200px;
    padding: 64px 24px;

    @include vars.mobile {
        padding: 0 16px;
    }
}

.hidden {
    display: none !important;
}

.transparent {
    opacity: 0 !important;
}

.body-lock {
    overflow: hidden;
}
